.container{
	color: blue;
} 
/*
#firstDiv{
	height: 200px;
	width: 300px;
	background-color: blue;
} */

/*
#secondDiv{
	height: 200px;
	width: 300px;
	background-color: red;
} 
*/
#flex-container{
	display: flex;
	flex-direction: row;
	color: blue;
	
}

#flex-container> .left-item{
	width: 50%;
	height: auto;
	flex:auto;
	background-color: red;
} 	


#flex-container> .right-item{
	width: 50%;
	height: auto;
	flex: auto;
	background-color :beige;
}